* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card {
    text-align: left;
    width: 350px;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.1;
    font-family: 'Karla', sans-serif;
}

h2 span {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    margin-top: 5px;
    margin-bottom: 65px;
}

.generate-btn {
    background-color: #10B981;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-right:30px ;
}

.generate-btn:hover {
    background-color: #0E9F6E;
    color: rgb(209, 209, 209)
}

hr {
    border: none;
    border-top: 1px solid #2F3E53;
    margin: 25px 0;
}

.password-boxes {
    display: flex;
    gap: 15px;
}

.password-display {
    background-color: #273549;
    color: #55F991;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
}
.password-display:hover{
   color: #0E9F6E;
   background-color: #151d28;;
}
.setcharacter {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 15px;
}

.setcharacter label {
    font-size: 0.9rem;
    color: #D5D4D8;
    margin: 0;
    padding: 0;
}

.setcharacter input {
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: #273549;
    color: white;
    width: 50px;
    text-align: center;
}
.options {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 7px; 
  color: #D5D4D8;
  font-size: 0.9rem;
  cursor: pointer;
}

.options input[type="checkbox"] {
  accent-color: #10B981;
  cursor: pointer;
}


